<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jgcorp.opentpg" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OpenTPG</name>
    <description>A sample Apache Cordova application that responds to the deviceready event.</description>
    <author>
        Jérémie Arcidiacono and Grégoire Péan
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <plugin name="cordova-plugin-navigationbar-color" spec="1.0.2" />

    <preference name="orientation" value="portrait" />
    <preference name="StatusBarBackgroundColor" value="#374955" />
    <preference name="NavigationBarBackgroundColor" value="#202a30" />
</widget>
